

.project-section{
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-txt{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.header-txt h1{
    color: #fff;
    margin-bottom: 2vh;
}

@media (max-width: 721px) {
    .header-txt{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .ph1{
        margin-top: 3rem;
    }
}